$primary-font: 'Montserrat', sans-serif;

/** Colors */
$primary-color: #203781;
$primary-color2: #736CE9;
$primary-color3: #8fdaef;
$primary-color3-1: #736ce9;
$primary-color-4: #8fdaef;

$secondary-color1: #2e2e2e;
$secondary-color2: #4b4b4b;
$secondary-color3: #afafaf;
$secondary-color5: #eaeaea;

$success: #5cb85c;
$danger: #d9534f;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: $primary-font;
  color: $secondary-color2;
}
marquee {
  color: $primary-color3-1;
  font-weight: 600;
}
a {
  text-decoration: none;
  color: $secondary-color2;
  font-weight: 500;
  &:hover, &.active {
    font-weight: 600;
    color: $primary-color2;
  }
}

.navbar {
  padding: .5rem ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  box-shadow: 3px 0 9px 0 opacify($secondary-color5,0.2), 0 0 20px 0 opacify($secondary-color5,0.19);
   ul.nav {
     list-style-type: none;
     display: flex;
     justify-content: space-between;
     align-items: center;
     li {
       display: inline;
       a {
         display: block;
         padding: .5rem;
         font-size: 0.9rem;
       }
     }
   }
  .nav-button {
    display: none;
    padding: .5rem;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
section {
  margin: 5rem 0;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}

section.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    color: $primary-color2;
  }
  .header-text {
    max-width: 50%;
    h1 {
      margin-bottom: 1rem;
    }
    p {
      margin-top: 1rem;
      color: $secondary-color3;
      letter-spacing: .4px;
      line-height: 30px;
      font-weight: 500;
    }
  }
  .header-image {
    width: 100%;
    max-width: 376px;
    height: auto;
  }
}

.block {
  background-color: $secondary-color5;
  border-radius: 7px;
  border: 1px solid $secondary-color3;
  padding: 1.5rem;
  margin: 1rem;
}

section.blocks {
  display: flex;
  flex-wrap: wrap;
  .block {
    flex: 0 47%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .block-icon {
      background-color: #fff;
      padding: 1rem;
      color: $primary-color2;
      border-radius: 100px;
      margin-right: 2rem ;
    }
    .block-text {
      .title {
        a {
          font-weight: 400;
          color: $primary-color2;
          &:hover {
            font-weight: 600;
          }
        }
        margin-bottom: 1rem;
      }
    }
  }
}

section.feedback {
  margin-top: 2rem;
  form {
    margin-top: 2rem;
  }
}

.form-group {
  margin-bottom: 1.5rem;
}

p.message {
  font-size: .8rem;
  margin-left: .5rem;
  color: $danger;
  display: none;
}

button[type=submit] {
  background-color: white;
  border: 2px solid $primary-color2;
  color: $primary-color2;
  font-weight: 600;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  padding: 1rem 2rem;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  &:hover {
    background-color: $primary-color2;
    color: white;
  }
}

input[type=text], input[type=text]:visited {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: $secondary-color1;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  resize: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  color: $secondary-color1;
}

select {
  width: 100%;
  padding: 16px 20px;
  margin: 8px 0;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  color: $secondary-color1;
}

input[type=text]:focus, textarea:focus, select:focus {
  border: 2px solid $primary-color2;
}