/** Colors */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #4b4b4b;
}

marquee {
  color: #736ce9;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #4b4b4b;
  font-weight: 500;
}
a:hover, a.active {
  font-weight: 600;
  color: #736CE9;
}

.navbar {
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-box-shadow: 3px 0 9px 0 #eaeaea, 0 0 20px 0 #eaeaea;
          box-shadow: 3px 0 9px 0 #eaeaea, 0 0 20px 0 #eaeaea;
}
.navbar ul.nav {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar ul.nav li {
  display: inline;
}
.navbar ul.nav li a {
  display: block;
  padding: .5rem;
  font-size: 0.9rem;
}
.navbar .nav-button {
  display: none;
  padding: .5rem;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

section {
  margin: 6rem 0;
}

h1 {
  font-size: 3rem;
}

section.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.header a {
  color: #736CE9;
}
section.header .header-text {
  max-width: 50%;
}
section.header .header-text h1 {
  margin-bottom: 1rem;
}
section.header .header-text p {
  margin-top: 1rem;
  color: #afafaf;
  letter-spacing: .4px;
  line-height: 30px;
  font-weight: 500;
}
section.header .header-image {
  width: 100%;
  max-width: 376px;
  height: auto;
}

.block {
  background-color: #eaeaea;
  border-radius: 7px;
  border: 1px solid #afafaf;
  padding: 1.5rem;
  margin: 1rem;
}

section.blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
section.blocks .block {
  -webkit-box-flex: 0;
      -ms-flex: 0 47%;
          flex: 0 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.blocks .block .block-icon {
  background-color: #fff;
  padding: 1rem;
  color: #736CE9;
  border-radius: 100px;
  margin-right: 2rem;
}
section.blocks .block .block-text .title {
  margin-bottom: 1rem;
}
section.blocks .block .block-text .title a {
  font-weight: 400;
  color: #736CE9;
}
section.blocks .block .block-text .title a:hover {
  font-weight: 600;
}

/*# sourceMappingURL=main.css.map */