@media (min-width: 768px) {
    .container {
        width: 750px;
        padding: 0 15px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


@media screen and (max-width: 874px) {
    .navbar :not(:first-child) {
        display: none;
    }
    .navbar ul.nav {display: none;}
    .navbar a.nav-button {
        display: block;
    }
}

@media screen and (max-width: 874px) {
    .navbar.responsive {
        position: relative;
        flex-direction: column;
    }
    .navbar.responsive .nav-button {
        position: absolute;
        top: 0;
        right: 0;
     }
    .navbar.responsive .brand-logo {
        display: block;
    }

    .navbar.responsive ul.nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .navbar.responsive ul.nav li {
        display: block;
        width: 100%;
        text-align: center;
    }
    .navbar.responsive a.user {
        display: block;
        margin-top: 2rem;
    }

}


